extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  div.text-center
    form(class="form-signin" method="POST" action="/users/login")
      #error
        if error 
          p.text-danger Error!!!
      -var h1Classes = ['h3', 'mb-3', 'font-weight-normal']  
      h1(class = h1Classes) Please sign in
      p
        label(for="userName") UserName: 
        input(type="text" name = "username" id="userName" class="form-control" required autofocus)
      p  
        label(for="password") Password: 
        input(type="password" name = "password" id="password" class="form-control" required)
      //- p
      -var buttonClass=['btn', 'btn-lg']
      button(class=buttonClass type="submit") Sign in
  
